// --- variable
$screen-break-point: 749.5px;
// --- style
%done-phase {
    .icon {
        display: inline-block;
    }
    .text {
        display: none;
    }
}
%undone-phase {
    .icon {
        display: none;
    }
    .text {
        display: inline-block;
    }
}

%current-text {
    color: var(--current-color);
}
%current-icon {
    @extend %current-text;
    background-color: transparent;
    border: 1px solid var(--current-color);
    @extend %undone-phase;
}
%undone-text {
    color: var(--undone-color);
}
%undone-icon {
    @extend %undone-text;
    background-color: transparent;
    border: 1px solid var(--undone-color);

    @extend %undone-phase;
}
%done-text {
    @extend %current-text;
}
%done-icon {
    color: var(--white);
    background-color: var(--dark);
    @extend %done-phase;
}

// ----- style
.progressContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 48px;
    .progressBar {
        display: flex;
        flex-grow: 1;
        max-width: 60px;
        height: 1px;
        margin: 0px 8px;
        border-width: 2px;
        border-style: solid;
    }

    .progressGroup {
        display: flex;

        .progressIcon {
            display: inline-block;
            position: relative;
            width: 24px;
            height: 24px;
            margin-right: 8px;
            border-radius: 50%;

            .text {
                width: inherit;
                height: inherit;
                position: absolute;
                top: 0px;
                font-size: 12px;
                font-weight: 700;
                line-height: 24px;
                text-align: center;
                color: inherit;
            }
            .icon {
                width: inherit;
                height: inherit;
            }
        }
        .progressLabel {
            font-weight: 400;
            line-height: 24px;
            color: var(--current-color);
        }
    }
}


.progressContainer {
    // step = 0
    span[step='0'] {
        &[dataphase='address'] {
            .progressIcon {
                @extend %current-icon;
                background-color: var(--dark);
                color: var(--white);
            }
        }
        &[dataphase='shipping'],
        &[dataphase='credit-card'] {
            .progressIcon {
                @extend %undone-icon;
            }
            .progressLabel {
                @extend %undone-text;
            }
        }
        &[data-order='1'] {
            border-color: var(--dark);
        }
        &[data-order='2'] {
            border-color: var(--grey-l);
        }
    }
    // step = 1
    span[step='1'] {
        &[dataphase='address'] {
            .progressIcon {
                @extend %done-icon;
                
            }
        }
        &[dataphase='shipping'] {
            .progressIcon {
                @extend %current-icon;
            }
        }
        &[dataphase='credit-card'] {
            .progressIcon {
                @extend %undone-icon;
            }
            .progressLabel {
                @extend %undone-text;
            }
        }
        &[data-order='1'],
        &[data-order='2'] {
            border-color: var(--dark);
        }
    }
    // step = 2
    span[step='2'] {
        &[dataphase='address'],
        &[dataphase='shipping'] {
            .progressIcon {
                @extend %done-icon;
            }
        }
        &[dataphase='credit-card'] {
            .progressIcon {
                @extend %current-icon;
            }
        }
    }
}

// --- RWD
@media screen and (max-width: $screen-break-point) {
    section.progressContainer {
        margin-top: 24px;

        .progressGroup {
            .progressIcon {
                width: 32px;
                height: 32px;
                margin-right: 0px;

                .text {
                    line-height: 32px;
                }
            }
        }
        .progressLabel {
            display: none;
        }
    }
}
