$screen-break-point:750px;
.progressControlContainer {
    position: absolute;
    top: 676px;
    margin-top: 0;

}
.buttonGroup {
    padding-top: 30px;
    border-top: 1px solid #e6e6eb;
    width: 600px;
}
button {
    display: flex;
    align-items: center;
    height: 46px;
    font-family: Inter, sans-serif;
    font-size: 14px;
    border-radius: 8px;
    border-width: 0px;
    padding: 0px;

    & > svg {
        width: 24px;
        height: 24px;
    }
    &.prev{
        background-color: transparent;
        line-height: 20px;
        font-weight: 400;

        > svg{
            margin-left: 12px;
        }
    }

    &.next {
        justify-content: center;
        width: 174px;
        font-weight: 500;
        line-height: 17px;
        background: var(--pink);
        color:var(--white);
        margin-left: auto;

        > svg {
            margin-left: 12px;
        }
    }
}


// --- RWD
@media screen and (max-width: $screen-break-point) {
  section.progressControlContainer {
    position: relative;
    margin-top: 24px;
    margin-bottom: 40px;
  }
  section.buttonGroup {
    button.next {
      width: 156px;
    }

    &[dataphase="address"] {
      button.next {
        width: 100%;
      }
    }
  }
}